name: testing.yml
on:

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          # We need full history to get commit logs
          fetch-depth: 0
      - name: Trigger OBS builds
        #if: success() && steps.before.outputs.sha != steps.after.outputs.sha
        env:
          OSC_USER: ${{ secrets.OSC_USER }}
          OSC_PASS: ${{ secrets.OSC_PASS }}
          OBS_PROJECT: "home:nukeddd:JetbrainsIDE"
        run: |
          # Install osc
          sudo apt-get update
          sudo apt-get install -y osc

          # Configure osc
          mkdir -p ~/.config/osc
          cat > ~/.config/osc/oscrc <<EOF
          [general]
          apiurl = https://api.opensuse.org
          [https://api.opensuse.org]
          user = $OSC_USER
          pass = $OSC_PASS
          EOF

          COMMIT_RANGE="${{ steps.before.outputs.sha }}..${{ steps.after.outputs.sha }}"
          echo "Checking for package updates in commit range: $COMMIT_RANGE"
          osc service remoterun "$OBS_PROJECT" "pycharm-community"
          # Extract package names from commit messages and trigger OBS builds
          git log --pretty=%B "$COMMIT_RANGE" | grep ": Update to " | sed 's/:.*//' | sort -u | while read -r PACKAGE_NAME; do
              echo "Found update for $PACKAGE_NAME, triggering OBS build in project $OBS_PROJECT."
              osc service remoterun "$OBS_PROJECT" "$PACKAGE_NAME"
          done
